
.redborder {
	border: 1px dotted red;
}
		
.adium_xtras_duck {
	background: transparent url(bundle.png) no-repeat -0px -0px;
	width: 147px;
	height: 164px;
}
				
.adium_Awake {
	background: transparent url(bundle.png) no-repeat -0px -164px;
	width: 128px;
	height: 128px;
}
				
.adium_Flap {
	background: transparent url(bundle.png) no-repeat -0px -292px;
	width: 128px;
	height: 128px;
}
				
.adium_keys {
	background: transparent url(bundle.png) no-repeat -0px -420px;
	width: 128px;
	height: 128px;
}
				
.adium_ApplescriptAlert {
	background: transparent url(bundle.png) no-repeat -0px -548px;
	width: 60px;
	height: 79px;
}
				
.adium_scriptToolbar {
	background: transparent url(bundle.png) no-repeat -60px -548px;
	width: 60px;
	height: 79px;
}
				
.adium_newContentThreeDigits {
	background: transparent url(bundle.png) no-repeat -0px -627px;
	width: 71px;
	height: 52px;
}
				
.adium_newContentTwoDigits {
	background: transparent url(bundle.png) no-repeat -71px -627px;
	width: 51px;
	height: 52px;
}
				
.adium_DefaultIcon {
	background: transparent url(bundle.png) no-repeat -0px -679px;
	width: 48px;
	height: 48px;
}
				
.adium_Lock_Locked_State {
	background: transparent url(bundle.png) no-repeat -48px -679px;
	width: 33px;
	height: 33px;
}
				
.adium_Lock_Unlocked_State {
	background: transparent url(bundle.png) no-repeat -81px -679px;
	width: 33px;
	height: 33px;
}
				
.adium_AddContact {
	background: transparent url(bundle.png) no-repeat -114px -679px;
	width: 32px;
	height: 32px;
}
				
.adium_addGroup {
	background: transparent url(bundle.png) no-repeat -0px -727px;
	width: 32px;
	height: 32px;
}
				
.adium_AddressBook {
	background: transparent url(bundle.png) no-repeat -32px -727px;
	width: 32px;
	height: 32px;
}
				
.adium_AnnouncerAlert {
	background: transparent url(bundle.png) no-repeat -64px -727px;
	width: 32px;
	height: 32px;
}
				
.adium_block {
	background: transparent url(bundle.png) no-repeat -96px -727px;
	width: 32px;
	height: 32px;
}
				
.adium_bookmark_chat {
	background: transparent url(bundle.png) no-repeat -0px -759px;
	width: 32px;
	height: 32px;
}
				
.adium_DockAlert {
	background: transparent url(bundle.png) no-repeat -32px -759px;
	width: 32px;
	height: 32px;
}
				
.adium_emoticon32 {
	background: transparent url(bundle.png) no-repeat -64px -759px;
	width: 32px;
	height: 32px;
}
				
.adium_emoticon32_transparent {
	background: transparent url(bundle.png) no-repeat -96px -759px;
	width: 32px;
	height: 32px;
}
				
.adium_ErrorAlert {
	background: transparent url(bundle.png) no-repeat -0px -791px;
	width: 32px;
	height: 32px;
}
				
.adium_GrowlAlert {
	background: transparent url(bundle.png) no-repeat -32px -791px;
	width: 32px;
	height: 32px;
}
				
.adium_info {
	background: transparent url(bundle.png) no-repeat -64px -791px;
	width: 32px;
	height: 32px;
}
				
.adium_linkToolbar {
	background: transparent url(bundle.png) no-repeat -96px -791px;
	width: 32px;
	height: 32px;
}
				
.adium_LogViewer {
	background: transparent url(bundle.png) no-repeat -0px -823px;
	width: 32px;
	height: 32px;
}
				
.adium_message {
	background: transparent url(bundle.png) no-repeat -32px -823px;
	width: 32px;
	height: 32px;
}
				
.adium_offlinecontacts {
	background: transparent url(bundle.png) no-repeat -64px -823px;
	width: 32px;
	height: 32px;
}
				
.adium_offlinecontacts_transparent {
	background: transparent url(bundle.png) no-repeat -96px -823px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-accounts {
	background: transparent url(bundle.png) no-repeat -0px -855px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-advanced {
	background: transparent url(bundle.png) no-repeat -32px -855px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-appearance {
	background: transparent url(bundle.png) no-repeat -64px -855px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-contactList {
	background: transparent url(bundle.png) no-repeat -96px -855px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-events {
	background: transparent url(bundle.png) no-repeat -0px -887px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-ft {
	background: transparent url(bundle.png) no-repeat -32px -887px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-general {
	background: transparent url(bundle.png) no-repeat -64px -887px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-messages {
	background: transparent url(bundle.png) no-repeat -96px -887px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-personal {
	background: transparent url(bundle.png) no-repeat -0px -919px;
	width: 32px;
	height: 32px;
}
				
.adium_pref-status {
	background: transparent url(bundle.png) no-repeat -32px -919px;
	width: 32px;
	height: 32px;
}
				
.adium_remove {
	background: transparent url(bundle.png) no-repeat -64px -919px;
	width: 32px;
	height: 32px;
}
				
.adium_Safari {
	background: transparent url(bundle.png) no-repeat -96px -919px;
	width: 32px;
	height: 32px;
}
				
.adium_sendfile {
	background: transparent url(bundle.png) no-repeat -0px -951px;
	width: 32px;
	height: 32px;
}
				
.adium_SoundAlert {
	background: transparent url(bundle.png) no-repeat -32px -951px;
	width: 32px;
	height: 32px;
}
				
.adium_SoundHigh {
	background: transparent url(bundle.png) no-repeat -64px -951px;
	width: 32px;
	height: 32px;
}
				
.adium_SoundLow {
	background: transparent url(bundle.png) no-repeat -96px -951px;
	width: 32px;
	height: 32px;
}
				
.adium_timestamp32 {
	background: transparent url(bundle.png) no-repeat -0px -983px;
	width: 32px;
	height: 32px;
}
				
.adium_timestamp32_transparent {
	background: transparent url(bundle.png) no-repeat -32px -983px;
	width: 32px;
	height: 32px;
}
				
.adium_togglegroups {
	background: transparent url(bundle.png) no-repeat -64px -983px;
	width: 32px;
	height: 32px;
}
				
.adium_togglegroups_transparent {
	background: transparent url(bundle.png) no-repeat -96px -983px;
	width: 32px;
	height: 32px;
}
				
.adium_unblock {
	background: transparent url(bundle.png) no-repeat -0px -1015px;
	width: 32px;
	height: 32px;
}
				
.adium_userIconToolbar {
	background: transparent url(bundle.png) no-repeat -32px -1015px;
	width: 32px;
	height: 32px;
}
				
.adium_WindowAlert {
	background: transparent url(bundle.png) no-repeat -64px -1015px;
	width: 32px;
	height: 32px;
}
				
.adium_notify {
	background: transparent url(bundle.png) no-repeat -96px -1015px;
	width: 37px;
	height: 30px;
}
				
.adium_sidebarActionWidget {
	background: transparent url(bundle.png) no-repeat -0px -1047px;
	width: 32px;
	height: 23px;
}
				
.adium_sidebarResizeWidget {
	background: transparent url(bundle.png) no-repeat -32px -1047px;
	width: 15px;
	height: 23px;
}
				
.adium_sidebarStatusAreaBackground {
	background: transparent url(bundle.png) no-repeat -47px -1047px;
	width: 1px;
	height: 23px;
}
				
.adium_addressbook_segment {
	background: transparent url(bundle.png) no-repeat -48px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_advanced_segment {
	background: transparent url(bundle.png) no-repeat -64px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_emoticonBlank {
	background: transparent url(bundle.png) no-repeat -80px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_events_segment {
	background: transparent url(bundle.png) no-repeat -96px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_info_segment {
	background: transparent url(bundle.png) no-repeat -112px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_SoundFileIcon {
	background: transparent url(bundle.png) no-repeat -128px -1047px;
	width: 16px;
	height: 16px;
}
				
.adium_SRSnapback {
	background: transparent url(bundle.png) no-repeat -0px -1070px;
	width: 14px;
	height: 14px;
}
				
.adium_ABSearch {
	background: transparent url(bundle.png) no-repeat -14px -1070px;
	width: 24px;
	height: 12px;
}
				